.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleQuote {
  margin: 1rem;
  border: 1px solid black;
}
.quote{
  margin: 0.5rem;
}
.author{
  margin: 0.5rem;
}
